body {
  background-color: #54bee7;
}
h1 {
  background-color: #699cfc;
  margin-bottom: 100px;
  padding: 20px;
  font-family: arial;
  font-align: center;
  font-size: 30px;
}
.login{
  font-size: 30px;
  margin-left: 520px
}
